<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="#" class="logo">Logo</a>
        <div class="menu">
            <a href="#" class="menu-link">關於</a>
            <a href="#" class="menu-link">作品集</a>
            <a href="#" class="menu-link">聯絡我</a>
        </div>
    </nav>
    <header>
        <img src="https://picsum.photos/1600/800" alt="">
    </header>
    <section id="about">
        <div class="container">
            <div class="about-content">
                <h2>About</h2>
                <p>
                    還在期待破解事情後悔窗口評論職業緊緊難道，看見時間問道這麼一個傳來先進教育，離線關於元素傷心，說明。
                </p>
            </div>
            <div class="about-avatar">
                <img src="https://picsum.photos/400" alt="">
            </div>
           
        </div>
    </section>
    <section id="folio">
        <div class="container">
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=1" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=2" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=3" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=4" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=5" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=11" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=12" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=13" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=14" alt="">
                </a>
            </div>
            <div class="folio-item">
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=15" alt="">
                </a>
            </div>
        </div>
    </section>
</body>
</html>